body {
	background-color: black; color: white
}
td {
	border: 2px solid; border-color: rgb(50, 130, 157) ;
}
#logintext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    width: 60%;
}
